body {
    background-image: url("https://images.pexels.com/photos/6499002/pexels-photo-6499002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    }

a:hover {
    color: antiquewhite;
    font-weight: bold;
    }

a:-webkit-any-link {
    color: inherit;
    text-decoration: inherit;
    }