.followers-container {
    display: grid;
    place-items: center;
    grid-template-columns:repeat(3, 33%);
    gap: 2%;
    padding: 3% 12%;
    }

a.followers-link {
    color: inherit;
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    }

.followers-img {
    width: 90%;
    border-radius: 33rem;
    }