nav {
    padding:          2%;
    color:            yellow;
    background-color: rgba(243, 112, 85, .5);
    }

.nav-link {
    padding:          1%;
    font-family:      monospace;
    font-size: 2.25rem;
    font-weight:      bold;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10rem;
    }

.nav-link:hover {
    color: antiquewhite;
    font-size: 2.5rem;
    font-weight: bold;
    }

a.active {
    display: none;
    }