.repos-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 33%);
    gap: 5%;
    width: 95%;
    padding: 3%;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
    white-space: pre-wrap;
    text-align: center;
    }

.repos-container>a:nth-child(even) {
    color: antiquewhite;
    }

.repos-container>a:nth-child(odd) {
    color: yellow;
    }

.repos-container>a:hover {
    color: antiquewhite;
    font-size: 2.25rem;
    font-weight: bold;
    text-decoration: line-through black;
    }