.user-card-container {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    width:            33%;
    padding:          1%;
    margin:           1% 33.33%;
    background-color: rgba(244, 166, 66, 0.5);
    border-radius:    4rem;
    }

.user-card-header {
    font-family: "Anton", sans-serif;
    font-size:   4rem;
    }

.figure-grid-container {
    display:          grid;
    place-items: center;
    width:            fit-content;
    padding:          2%;
    font-family:      monospace;
    font-size:        2.5rem;
    text-align:       center;
    background-color: rgba(255, 0, 0, 0.33);
    border-radius:    5rem;
    }

.github-profile-img {
    max-width:     50%;
    margin:        5%;
    border-radius: 10rem;
    }

.figure-grid-container>a.user-card-link {
    width:            fit-content;
    padding:          1%;
    color: yellow;
    font-family: 'Anton', sans-serif;
    font-size: 2.75rem;
    background-color: rgba(126, 118, 118, 0.5);
    border-radius:    10rem;
    }

figcaption {
    width: 100%;
    padding: 2%;
    margin:           1%;
    color:            antiquewhite;
    font-weight:      bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    }

a.user-card-link {
    }

a.user-card-link:hover {
    color: antiquewhite;
    font-size: 2.5rem;
    font-weight: bold;
    }